@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
@*<h2>Enter your email.</h2>*@
<hr />
<div class="row" align="center">
    <div class="col-lg-12">
        <form method="post" class="form">
            <h2>Forgot your password?</h2>
            <h2>Enter your email.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <br />
            <button type="submit" class="w-10 btn btn-lg btn-primary RST">Reset Password</button>
        </form>
    </div>
</div>

<style>
    *
    .form {
        position: relative;
        background: #060c21;
        border: 1px solid #000;
        width: 350px;
        padding: 40px 40px 60px;
        border-radius: 10px;
        text-align: center;
    }

    .form::before {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: linear-gradient(315deg,#e91e63,#5d02ff);
        z-index: -1;
        transform: skew(2deg,1deg);
        border-radius: 10px;
    }

    .RST {
        width: 200px;
        height: 50px;
        border-radius: 25px;
        border: 0;
        background-color: yellowgreen;
        color: white;
        font-family: montserrat;
        cursor: pointer;
        transition: 0.6s;
    }

        .RST:hover {
            transform: translate(0px, -4px);
            box-shadow: 0 6px 6px rgba(0,0,0,.2);
        }

    /* WAVES BENEATH HEADER */

   

    .form h2 {
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .form .input {
        margin-top: 40px;
        text-align: left;
    }

        .form .input .inputBox {
            margin-top: 10px;
        }

            .form .input .inputBox label {
                display: block;
                color: #fff;
                margin-bottom: 5px;
                font-size: 18px;
                letter-spacing: 1px;
            }

            .form .input .inputBox input {
                position: relative;
                width: 100%;
                height: 40px;
                border: none;
                outline: none;
                padding: 5px 15px;
                background: linear-gradient(315deg,#e91e63,#5d02ff);
                color: #fff;
                font-size: 18px;
                border-radius: 10px;
            }

                .form .input .inputBox input[type="submit"] {
                    cursor: pointer;
                    margin-top: 20px;
                    letter-spacing: 1px;
                }

                    .form .input .inputBox input[type="submit"]:hover {
                        background: linear-gradient(315deg,#5d02ff,#e91e63);
                    }

                    .form .input .inputBox input[type="submit"]:active {
                        color: rgba(255, 255, 255, 0.521);
                        background: linear-gradient(315deg,#e91e6271,#5f02ff8c);
                    }

    .forgot {
        margin-top: 10px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
    }

        .forgot a {
            color: #ff0800;
        }

    .register {
        margin-top: 10px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
    }

        .register a {
            color: #ff0800;
            .resendmail

    {
        margin-top: 10px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .resendmail a {
        color: #ff0800;
    }

    }
</style>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
